<div class="detail">

    <div class="image" *ngIf="article?.type == 'IMAGE'">
        <p class="description">
            {{article?.metadata.date | date:'yyyy-MM-dd a HH:mm Z'}} |
            {{article?.metadata.size / 1024 | number:'1.0-0'}} Kbyte |
            {{article?.metadata.width | number}} x {{article?.metadata.height | number}} pixel |
            iso {{article?.metadata.iso | number}} |
            {{article?.metadata.fNumber}}
        </p>
        <img src="/api/drive/image{{article.path}}" />
    </div>

    <div *ngIf="article?.type == 'VIDEO'">
        <video controls>
            <source src="/api/drive/video{{article.path}}" type="video/mp4">
            <source src="/api/drive/video{{article.path}}" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>

</div>