@media (max-width: 640px) { .thumbnail { float: left; width: 31%; margin: 1%; cursor: pointer; } }
@media (min-width: 640px) { .thumbnail { float: left; width: 9%; margin: 0.5%; cursor: pointer; } }
.thumbnail img { width: 100%; }
.thumbnail .name { text-align: center; font-size: 1.5em; word-break:break-all; }