.home { float: left; width: 100%; text-align: center; }
.card { float: left; width: 31%; margin: 1%; cursor: pointer; }
.card img { width: 100%; }
.card p { font-size: 2em; font-weight: bold; margin:0px; padding:0px; }